body {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Hind Madurai";
    src: url(../font/HindMadurai-Regular.ttf);
}

.code-container {
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}
.bash-text {
    background-color: #2b3d4f;
    border-top-left-radius: 0.578rem;
    border-top-right-radius: 0.578rem;
    padding: 0.578rem;
    color: #bdc3c7;
}

.code-text {
    padding: 0.75rem;
    background-color: #95a6a7;
    border-bottom-left-radius: 0.578rem;
    border-bottom-right-radius: 0.578rem;
}

.banniere-container {
    display: flex;
    justify-content: center;
}

.banniere {
    object-fit: fill;
    width: 100%;
    padding-top: 30px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar #links {
    display: none;
}

.navbar a {
    background-color: #354a5f;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    background: #2b3d4f;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #586174;
    color: white;
}

.active {
    background-color: #04aa6d;
    color: white;
}

.text {
    margin-top: 3px;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1px;
    text-justify: auto;
}

.content {
    margin: 1rem;
}
.repository-url {
    color: #0366d6;
    font-weight: bold;
}
.theme-toggle .theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    line-height: 34px;
    color: #fff;
}

/* Hide default HTML checkbox */
.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.theme-toggle .theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    border-radius: 34px;
    white-space: nowrap;
}

.theme-toggle .theme-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
}

.theme-toggle input:checked + .theme-slider {
    background-color: #fff;
}

.theme-toggle input:focus + .theme-slider {
    box-shadow: 0 0 1px #2196f3;
    color: #000;
}

.theme-toggle input:checked + .theme-slider:before {
    right: 4px;
    left: auto;
    background-color: #000;
}

.darkmode {
    background-color: #2f3136;
    color: white;
    fill: white;
}

.darkmode .code-text{
    color: black;
}

.theme-toggle {
    background-color: #354a5f;
    color: white;
    padding: 0.3rem 0 1rem 1rem;
}
.banniere-container{
    padding-top: 6rem;
}
@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: center;
        background-color: #354a5f;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    .navbar a.icon {
        display: none;
    }

    .navbar a {
        display: none;
    }
    .navbar .links,
    .navbar #links {
        display: flex;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .btn-acceuil {
        display: none;
    }

    .navbar #links a {
        padding-right: 70px;
    }
    .code-text {
        margin-bottom: 1rem;
    }

    .banniere-container {
        display: flex;
        justify-content: center;
    }

    .content {
        margin-right: 20rem;
        margin-left: 20rem;
    }

    .theme-toggle {
        margin-left: auto;
        padding-top: 10px;
        margin-right: 10px;
    }

}
