body {
    margin: 0;
    padding: 0;
    background-color: white;
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Hind Madurai";
    src: url(../font/HindMadurai-Regular.ttf);
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: relative;
    padding-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
}

.navbar #links {
    display: none;
}

.navbar a {
    background-color: #354a5f;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    background: #2b3d4f;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #586174;
    color: white;
}

.active {
    background-color: #04aa6d;
    color: white;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture img {
    width: 200px;
    border-radius: 3px;
}

.picture-content {
    border-radius: 20px;
    background-color: #dde2e6;
    padding: 1rem;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
}

img {
    max-width: 220px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.picture-content p {
    padding-left: 5px;
}
.titre {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1px;
}

.date-text {
    margin-top: 1px;
    font-size: smaller;
    color: #586174;
}

.text {
    text-justify: auto;
    padding: 10px 4px 10px 4px;
}

.icon-acceuil-content {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.title-content {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    padding: 3rem;
}

@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: center;
        background-color: #354a5f;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    .navbar a.icon {
        display: none;
    }

    .navbar a {
        display: none;
    }
    .navbar .links,
    .navbar #links {
        display: flex;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .btn-acceuil {
        display: none;
    }

    .navbar #links a {
        padding-right: 70px;
    }

    .picture img {
        width: 200px;
    }

    .text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 180px;
        text-justify: auto;
        padding: 10px 4px 10px 4px;
    }

    .text-part {
        width: 800px;
    }

    .btToggle .btn {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        line-height: 34px;
        color: #fff;
    }

    /* Hide default HTML checkbox */
    .btToggle input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .btToggle .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000;
        border-radius: 34px;
        white-space: nowrap;
    }

    .btToggle .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
    }

    .btToggle input:checked + .slider {
        background-color: #fff;
    }

    .btToggle input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
        color: #000;
    }

    .btToggle input:checked + .slider:before {
        right: 4px;
        left: auto;
        background-color: #000;
    }

    .container {
        background-color: white;
    }

    .darkmode {
        background-color: black;
        color: white;
    }
}
