body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Hind Madurai";
    src: url(../font/HindMadurai-Regular.ttf);
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar #links {
    display: none;
}

.navbar a {
    background-color: #354a5f;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    background: #2b3d4f;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #586174;
    color: white;
}

.active {
    background-color: #04aa6d;
    color: white;
}

h1 {
    font-family: "Montserrat";
}

p {
    margin-top: 3rem;
    font-family: "Hind Madurai";
    justify-content: baseline;
}

.container {
    padding: 50px 1rem 50px 1rem;
}

#logo-uml {
    width: 50%;
    float: left;
    margin-right: 1rem;
}

.img-uml {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: center;
        background-color: #354a5f;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .navbar a.icon {
        display: none;
    }

    .navbar a {
        display: none;
    }
    .navbar .links,
    .navbar #links {
        display: flex;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .btn-acceuil {
        display: none;
    }

    .navbar #links a {
        padding-right: 70px;
    }

    #logo-uml{
        padding-top: 5rem;
        width: 30%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .img-uml{
        width: 50%;
        float: left;
    }

    article p{
        margin-left: 50%;
        padding: 0 3rem 0 3rem ;
    }
}
